.dieContainer{
    display:flexbox;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 200px;
    width: 100%;   
}
.rollTheDice{
    border-radius: 8px;
    background-color: aqua;
    height: 50px;
    width: 150px;
    margin-left: 35%;
}
.die{
    align-items: center;
    float: left;

    height: 150px;
    width: 150px;
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 40px;
    background-color: white;
}
h1{
    margin-left: 35%;
}
